[prune]
  go-tests = true
  unused-packages = true

[[constraint]]
  name = "github.com/gorilla/handlers"
  version = "1.3.0"

[[constraint]]
  name = "github.com/gorilla/mux"
  version = "1.6.1"

[[constraint]]
  branch = "master"
  name = "github.com/maxperrimond/kensho"

[[constraint]]
  branch = "master"
  name = "github.com/prometheus/client_golang"

